{% extends "Base.html "%}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/student_map_app/School_Search.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/Base.css' %}"/>
{% endblock %}
{% block main %}
  <form class="Search-Form" action="" method="POST"> <!-- Trying to go back one directory -->
      {% csrf_token %}
    <label for="search-charfield-id">Find your school</label>
    {{ form }}
    <input type="submit" value="Search"/>
  </form>
{% endblock %}
