{% extends "Base.html "%}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/student_map_app/School_Landing.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/Base.css' %}"/>
{% endblock %}
{% block main %}
  <form class="School-Select-Form" action="" method="POST">
    <label for="dropdown-choicefield-id">Select your school</label>
    {% csrf_token %}
    {{ form.school_options }}
    <input type="submit" value="Search"/>
  </form>
{% endblock %}
