{% extends "base.html" %}
{% load staticfiles %}

	{% block head %}
	<link type="text/css" rel="stylesheet" href="{% static 'CSS/Base.css' %}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="{% static 'CSS/student_map_app/School_Sport_Edit.css' %}"/>
	{% endblock %}

	{% block main %}
	<section class="Container">
		<section class="Main-Content">
			<form id="post_form" method="POST" action='' enctype='multipart/form-data'>
			    {% csrf_token %}
					{% for formset in formsetArray %}
						{{ formset.management_form }}
						<ul id="formset-container">
							{% for form in formset %}
								<li id="form-li">{{ form }}</li>
							{% endfor %}
						</ul>
					{% endfor %}
			    <input type="submit" name="gallery-submit" value="Submit" />
			</form>
		</section>
	</section>
	{% endblock %}

	{% block scripts %}
	{% endblock %}
