@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
/* #e6e9ee  Off-white
#0E2B5B  Logo blue
#bc0e48  Site red
1px solid #e1e4e8 */
/*
Defining Cells:
	#container {
		grid-template-columns: 60px 60px;		// Make two columns, both of 60px in width
		grid-template-rows: 90px 90px;			// Make two rows, both of 90px in height
        grid-column-gap: 10px;
    	grid-row-gap: 15px;
	}
Telling items where to start:
	item a {
		grid-column: 5/6;	// Means start at the left side of the 5th cell and end at the right;
		grid-row: 2/3;		// Means start at the top of the second cell and end at the bottom;
	}
    OR
    item a {
        grid-area: avatar;
    }
    container {
        grid-template-areas:
            "banner ."
            "avatar table-container"
            "full-name gallery"
            "activity-feed activity-feed";
    }

Auto-generating cells:
	Note that above, we define a container with four cells, yet we tell item at to position itself in the 5th column at the second cell.
	The cell doesn't exist. Because we reference lines that don't exist, implicit tracks with widths of 0 are created to fill the gaps
	and "reach" the newly created 5th column. Grid-auto-row/column is used to specify the widths of any implicitly-generated cells.
	#container {
		grid-auto-columns: 60px;
		// Note that the row actually did exist, the column didn't
	}
Auto-filling cells:
	If items within the container are not explicity assigned a cell, an algorithm kicks in to decide where in the grid to place them.
	You have some control over where these items go:
	#container {
		grid-auto-flow: row;			// Will fill in empty cells from left to right, dropping down when necessary
		grid-auto-flow: column;			// Will fill in empty cells from top to bottom, shifting to the right when necessary
		grid-auto-flow: dense;			// Will fill in any empty cells it finds, but doesn't explicity state in what pattern.
	}

*/
*
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html { overflow: hidden; }
body
{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-size: 15px;
}

  header.Navigation
  {
    position: relative;
    width: 100%;
    height: 75px;         /* Initializing the size based on what the user sees (excluding scroll)*/
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url("../Images/Textures/backgroundtexture.png");
    display: flex;
    justify-content: start;
    overflow-y: visible;
  }
    .Logo
    {
		width: 250px;
		height: 40px;
        margin-top: 1.35vh;
        margin-left: 10vw;
		display: inline-block;
		position: relative;
		background-image: url("../Images/Logo/logo.png");
		background-size: 250px 40px;
		background-position: center;
		cursor: pointer;
    }
    ul.Nav-Links
    {
        width: 35%;
        display: inline-block;
        list-style-type: none;
        font-size: 110%;
        text-align: center;
        text-transform: uppercase;
        margin-left: 10vw;
    }
      ul.Nav-Links li
      {
		line-height: 75px;
        position: relative;
        display: inline-block;
        max-width: 90px;
        margin-right: 3vw;
      }
        ul.Nav-Links li > a
        {
          text-decoration: none;
          color: #727272;
          cursor: pointer;
          font-weight: 600;
          font-size: 14px;
        }
        ul.Nav-Links li > a:hover
        {
          color: #0E2B5B; /*#bc0e48;*/
          font-weight: bold;
          font-size: 90%;
          transition: .25s;
        }
        ul.Nav-Links li > a#nav-highlight:hover
        {
            color: #0E2B5B;
        }
        ul.Nav-Links li > a::after
        {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: #0E2B5B;
          transition: width .3s;
          margin-top: -2.5vh;
        }
        ul.Nav-Links li > a#nav-highlight::after
        {
          background-color: yellow;
        }
        ul.Nav-Links li > a:hover::after
        {
          width: 100%;
          transition: width .3s;
        }
          ul.Nav-Links a.Active
          {
          color: #0E2B5B;
          font-weight: bold;
          }


        .Color-Bar
        {
          position: absolute;
          bottom:0;
          z-index: 3;
          width: 100%;
          height: 1vh;
          background-color: #0E2B5B;
		  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        }
/*--------------------Body--------------------*/
.Container
{
  font-size: 100%;
  position: relative;
  width: 100%;
}
section.Main-Content
{
  width: 100%;
  height: 88vh;
  /*overflow: hidden;*/
  position: relative;     /* For 'about' */
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.Banner-Wrapper
{
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 10%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.Banner-Background  /* Height based on viewport */
{
    z-index: 2;
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    padding: 0;
    background: #0E2B5B url('../Images/Background/football.jpg');
    background-size: cover;
    background-position-y: center;
    -webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
    vertical-align: middle;
}

.Banner-Background::before
{
    background-color: #0E2B5B;
    opacity: .64;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.Banner-Text
{
  position: absolute;
  top: 75%;
  margin: 0;
  color: white;
  font-size: 38px;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 100%;
  text-transform: uppercase;
  transform: translateY(-50%);
}

/*--------------------Footer--------------------*/
footer
{
  font-size: 100%;
  width: 100%;
  white-space: nowrap;
}
  .Bottom-Banner
  {
	height: 6vh;
    width: 100%;
    background-color: black;
    text-align: center;
    overflow: hidden;
  }
    .Bottom-Banner > p
    {
      color: white;
      display: inline;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      line-height: 6vh;
      margin: 0;
    }
    .Bottom-Banner > p > span
    {

      text-transform: lowercase;
      font-size: 80%;

    }
    .Bottom-Banner > p:not(:nth-child(3))
    {
      margin-right: 5%;
    }
    ul#contact-icons
    {
      list-style-type: none;
      display:inline-block;
      padding: 0;
      border-radius: 50%;
      margin: 0;
      transform: translateY(25%);

    }
      ul#contact-icons > div
      {
        cursor: pointer;
      }

      .Bottom-Banner ul#contact-icons .Crop-Circle
      {
        display:inline-block;
        width: 22px;
        height: 22px;
        border-radius: 100%;
        background-size: cover;

      }
        #facebook { background-image: url("../Images/Social-Media/facebook.png"); }
        #twitter { background-image: url("../Images/Social-Media/twitter.png"); }
        #linkedin { background-image: url("../Images/Social-Media/linkedin.png"); }
        #googleplus { background-image: url("../Images/Social-Media/google-plus.png"); }
        #youtube { background-image: url("../Images/Social-Media/youtube.png"); }


        #avatar-modal
        {
        	margin-top: 1%;
        	margin-left: 20%;
            height: 30px;
        }
        #avatar-modal-image
        {
        	display: inline;
        	border: 1px solid black;
        	border-radius: 3px;
        	width: 30px;
        	height: 100%;
        }
        #avatar-modal.clicked #avatar-modal-menu
        {
        	display: block;
        }
        #avatar-modal-menu
        {
        	position: relative;
        	z-index: 9;
        	display: none;
        	margin-left: -40%;
        	list-style-type: none;
        	background-color: white;
            background-image: url("../Images/Textures/backgroundtexture.png");
        }
        #avatar-modal-menu > li
        {
        	margin: 0;
        	font-size: 12px;
        	display: block;
        	padding: 12px 12px;
        	border-bottom: 1px solid #e1e4e8;
        }
