<!DOCTYPE html>
<html>
	<head>
	{% block head %}
	{% endblock %}
	</head>
	<body>
		<header class="Navigation">
			{% block nav %}
				{% if user.is_authenticated %}
					<div class="Logo" onclick="location.href='{% url 'Dashboard_View' %}'"></div>
					<ul class="Nav-Links">
						<li><a href="{% url 'Dashboard_View' %}" class="Active">Dashboard</a></li>
						<li><a href="{% url 'About_View' %}" id="nav-highlight">Highlights</a></li>
						<li><a href="{% url 'Sports_View' %}">Sports</a></li>
						<li><a href="{% url 'Posts_Namespace:Posts_List' %}">Articles</a></li>
					</ul>
					<div id="avatar-modal">
						<img id="avatar-modal-image" src="{{user.userprofile.avatar.url}}"/>
						<ul id="avatar-modal-menu">
							<li><a href="{% url 'Accounts_Namespace:Accounts_View_Profile' %}">View Profile</a></li>
							<li><a href="{% url 'Accounts_Namespace:Accounts_Edit_Profile' %}">Edit Profile</a></li>
							<li><a href="#">Account Settings</a></li>
							<li><a href="#">Help</a></li>
							<li><a href="#">Sign out</a></li>
						</ul>
					</div>
				{% else %}
					<div class="Logo" onclick="location.href='{% url 'Home_View' %}'"></div>
					<ul class="Nav-Links">
						<li><a href="{% url 'Home_View' %}" class="Active">Home</a></li>
						<li><a href="{% url 'Posts_Namespace:Posts_List' %}">Articles</a></li>
						<li><a href="{% url 'About_View' %}">About Us</a></li>
						<li><a href="{% url 'Sports_View' %}">Guide</a></li>

					</ul>
				{% endif %}
			{% endblock %}
			<div class="Color-Bar"></div>
		</header>
		<section class="Container">
			<section class="Main-Content">
				{% block main %}
				{% endblock %}
			</section>
		</section>
		<footer>
			<div class="Bottom-Banner">
				<p>#169 2017 All Rights Reserved Terms of Use and Privacy Policy</p>
				<p>CONTACT US <span>placeholderemail@highlightpage.com</span></p>
				<p>FOLLOW US</p>
				<ul id="contact-icons">
					<div id="facebook" class="Crop-Circle" onclick="location.href='#'"></div>
					<div id="twitter" class="Crop-Circle" onclick="location.href='#'"></div>
					<div id="linkedin" class="Crop-Circle" onclick="location.href='#'"></div>
					<div id="googleplus" class="Crop-Circle" onclick="location.href='#'"></div>
					<div id="youtube" class="Crop-Circle" onclick="location.href='#'"></div>
				</ul>
			</div>
		</footer>
		{% block scripts %}
			"{% if user.is_authenticated %}"
				<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
				<script type="text/javascript">
						// Handling the avatar modal
						modal = document.getElementById('avatar-modal-image');

						modal.addEventListener("click", function(){
							$('#avatar-modal').toggleClass('clicked');
						});
				</script>
			"{% endif %}"
		{% endblock %}
	</body>
</html>
