.tile-container
{
  justify-content: center;
  position: relative;
  max-width: 900px;
  max-height: 650px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;   /* Y-axis */
  margin: 0 auto;
  list-style-type: none;
  margin-top: 1.25vh;
}
.tile
{
  width: 240px;
  height: 300px;
  box-sizing: border-box;
  margin-right: 40px;
  margin-bottom: 40px;
  background-color: white;
  position:relative;
  border: 1px solid #e1e4e8;
  box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.75);
}
.tile-image-container{
    width: 100%;
    height: 165px;
    overflow: hidden;
}
.tile-image
{
    height: 165px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    -moz-transition: all ease-out  0.3s;
    -webkit-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}
.tile-image:hover
{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.tile-info
{
    width: 100%;
}
.tile-date
{
  font-size: .6rem;
  padding: .5vh 0 0 2.5%;
}
.tile-title
{
    height: 50px;
    padding: .75vh 0 0 0%;
    text-align: center;
    border-bottom: 1px dashed #e1e4e8;
}
.tile-read-more
{
  font-size: .75rem;
  display: block;
  margin: 12.5% 0 0 0;
  text-align: center;
}
.page-container
{
    text-align: center;
}
.page-item,
.page-link
{
    display: inline-block;
    width: 20px;
}
