{% extends "base.html" %}
{% load staticfiles %}

	{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'Stylesheets/Blog.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'Stylesheets/Base.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% endblock %}


	{% block main %}
    <section class="Container">
        <section class="Main-Content">
          <div class="Banner-Wrapper">
            <div class="Banner-Background"></div>
            <h3 class="Banner-Text">Blog</h3>
          </div>
					<ul class="Tiles">
						{% if post_objects %}
							{% for post in post_objects %}
							<li class="Tile">
								<!--<img src="{{ post.thumbnail.url }}"/>-->
								<img src="{% static 'Images/Thumbnails/all-sports.jpg'%}"/>
								<p class="Tile-Date">{{ post.timestamp }}</p>
								<h3 class="Tile-Title">{{ post.title }}</h3>
								<p class="Tile-Read-More"><a href="{% url 'Posts_Namespace:Posts_Detail' pk=post.id %}">READ MORE</a></p>
							</li>
							{% endfor %}
						{% else %}
							<div style="width: 100%;">
								<p> No blog posts available. </p>
							</div>
						{% endif %}
					</ul>
				{% if post_objects.has_other_pages %}
          <ul class="pagination">
          	{% if post_objects.has_previous %}
							<li class="page-item">
								<a href="?page={{post_objects.previous_page_number}}" class="page-link">&laquo;</a>
							</li>
						{% else %}
							<li class="page-item">
								<a href="?page=={{i}}" class="page-link">{{i}}</a>
							</li>
						{% endif %}
						{% for i in post_objects.paginator.page_range %}
							{% if post_objects.number == i%}
								<li class="page-item active">
									<a href="" class="page-link">{{i}}</a>
								</li>
							{% endif %}
						{% endfor %}
							<li class="page-item disabled">
								<a href="#" class='page-link'>&laquo;</a>
							</li>
				{% endif %}
        </section>
    </section>
	{% endblock %}
