
.atc-profile-container
{
	width: 1100px;
	position: relative;
	margin: 7px auto 0 auto;

	display: grid;
	grid-template-columns: 23.5% 76.5%;
	grid-template-rows: auto;
	grid-auto-flow: row;
	grid-auto-rows: auto;
	grid-row-gap: 1.5%;
	grid-column-gap: 2.5%;
	grid-template-areas:
		"atc-avatar-container atc-table-container";
}
#atc-avatar-container
{
	display: inline-block;
	position: relative;
	width: 100%;
	justify-self: center;
	margin-top: 11px;
}
.atc-banner
{
	width: 100%;
	height: 115px;
	position: absolute;
	object-fit: cover;
}
.atc-avatar
{
	grid-area: atc-avatar;
	margin: 55px auto 0 auto;
	width: 60%;
	height: 125px;
	display: block;
	position: relative;
	border-radius: 4px;
	object-fit: cover;
}
#atc-full-name{
	font-size: 1.2rem;
	font-weight: bold;
	color: #24292e;
}

.toolbar > ul
{
	list-style-type: none;
}
.toolbar li
{
	border-bottom: 1px solid lightgrey;
}
.toolbar a
{
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 400;
	padding-left: 10px .5vw 10px .5vw;

}
#atc-table-container
{
	grid-area: atc-table-container;
	width: 580px;
	height: 190px;
	overflow: hidden;
	padding: 25px 5px 5px 0px;
	z-index: 5;
	border-radius: 4px;
	background-color: transparent;
}

.atc-sport-table
{
	position: relative;
	background-color: white;
	-webkit-box-shadow: 0px 10px 5px -9px rgba(0,0,0,0.75);
	margin: 0 0 30px 0;
	width: 100%;
	height: 180px;
	float: left;
	border-collapse: collapse;
	border-spacing: 0;
	transition: margin ease-in-out 1.75s;
}
	.atc-sport-table > tbody::before
	{
		content:'';
		line-height: 25px;
		position: absolute;
		top: -13px;
		height: 30px;
		width: 100.4%;
		background-color: #091e3f;  /* Our logo color: #0e2b5b, appeared much lighter on this ::before than other elements, so we're using a darker color*/
		text-align: center;
		padding-top: 3px;
		text-transform: uppercase;
		color: white;
	}
		.atc-sport-table#Baseball_Table > tbody::before
		{
			content: 'Baseball'

		}
	.atc-sport-table tr.header-row
	{
		background-color: #b5bbc5;
	}
		.atc-sport-table tr.header-row th:nth-child(1)
		{
			border-left: 1px solid #b5bbc5;
		}
		.atc-sport-table tr.header-row th:nth-last-child(1)
		{
			border-right: 1px solid #b5bbc5;
		}
	.atc-sport-table th, td
	{
		border-collapse: collapse;
		text-align: center;
		border: 1px solid #e1e4e8;
		border-spacing: 0px;
	}
	.atc-sport-table th
	{
		width: 39px;
	}
